ALTER TABLE public.reports ADD COLUMN IF NOT EXISTS detailed_report TEXT;
ALTER TABLE public.reports ADD COLUMN IF NOT EXISTS report_type TEXT;
ALTER TABLE public.reports ADD COLUMN IF NOT EXISTS quarter TEXT;
