-- Create the reports table
CREATE TABLE IF NOT EXISTS public.reports (
  id bigint generated by default as identity primary key,
  ticker text not null,
  risk_score integer,
  analysis_text text,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Enable Row Level Security (RLS)
ALTER TABLE public.reports ENABLE ROW LEVEL SECURITY;

-- Drop and recreate policy for inserts
DROP POLICY IF EXISTS "Allow public inserts" ON public.reports;
CREATE POLICY "Allow public inserts" ON public.reports FOR INSERT TO public WITH CHECK (true);

-- Drop and recreate policy for reads
DROP POLICY IF EXISTS "Allow public read" ON public.reports;
CREATE POLICY "Allow public read" ON public.reports FOR SELECT TO public USING (true);


-- Create the market_summaries table for the Daily Briefing feature
CREATE TABLE IF NOT EXISTS public.market_summaries (
    id uuid default gen_random_uuid() primary key,
    date date not null unique,
    title text not null,
    content text not null,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Enable RLS for security
ALTER TABLE public.market_summaries ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Allow anonymous select on market_summaries" ON public.market_summaries;
CREATE POLICY "Allow anonymous select on market_summaries" ON public.market_summaries FOR SELECT USING (true);

DROP POLICY IF EXISTS "Allow anonymous inserts to market_summaries" ON public.market_summaries;
CREATE POLICY "Allow anonymous inserts to market_summaries" ON public.market_summaries FOR INSERT WITH CHECK (true);

DROP POLICY IF EXISTS "Allow anonymous updates to market_summaries" ON public.market_summaries;
CREATE POLICY "Allow anonymous updates to market_summaries" ON public.market_summaries FOR UPDATE USING (true);

DROP POLICY IF EXISTS "Enable read access for all users" ON public.market_summaries;
CREATE POLICY "Enable read access for all users" ON public.market_summaries FOR SELECT USING (true);


-- Create the company_requests table
CREATE TABLE IF NOT EXISTS company_requests (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    user_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,
    company_name TEXT NOT NULL,
    ticker TEXT,
    status TEXT DEFAULT 'pending'::text NOT NULL,
    CONSTRAINT valid_status CHECK (status IN ('pending', 'in-progress', 'completed'))
);

-- Enable Row Level Security (RLS)
ALTER TABLE company_requests ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Anyone can insert requests" ON company_requests;
CREATE POLICY "Anyone can insert requests" ON company_requests FOR INSERT WITH CHECK (true);

DROP POLICY IF EXISTS "Users can view own requests" ON company_requests;
CREATE POLICY "Users can view own requests" ON company_requests FOR SELECT USING (auth.uid() = user_id);

DROP POLICY IF EXISTS "Admin can view all" ON company_requests;
CREATE POLICY "Admin can view all" ON company_requests FOR SELECT USING (auth.jwt() ->> 'email' = 'beable9489@gmail.com');

DROP POLICY IF EXISTS "Admin can delete all" ON company_requests;
CREATE POLICY "Admin can delete all" ON company_requests FOR DELETE USING (auth.jwt() ->> 'email' = 'beable9489@gmail.com');


-- Create a table for capturing newsletter/reporting leads
CREATE TABLE IF NOT EXISTS public.leads (
  id uuid default gen_random_uuid() primary key,
  email text not null unique,
  source text default 'website_footer',
  created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Set up Row Level Security (RLS)
ALTER TABLE public.leads ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Allow anonymous inserts to leads" ON public.leads;
CREATE POLICY "Allow anonymous inserts to leads" ON public.leads FOR INSERT WITH CHECK (true);

DROP POLICY IF EXISTS "Only admins can view leads" ON public.leads;
CREATE POLICY "Only admins can view leads" ON public.leads FOR SELECT USING ( auth.jwt() ->> 'email' = 'beable9489@gmail.com' );


-- Add new columns for forensic analysis (IF NOT EXISTS is supported natively on ADD COLUMN)
ALTER TABLE reports ADD COLUMN IF NOT EXISTS verdict TEXT;
ALTER TABLE reports ADD COLUMN IF NOT EXISTS ceo_claim TEXT;
ALTER TABLE reports ADD COLUMN IF NOT EXISTS reality_check TEXT;
ALTER TABLE reports ADD COLUMN IF NOT EXISTS one_line_summary TEXT;
ALTER TABLE reports ADD COLUMN IF NOT EXISTS score_breakdown JSONB;
ALTER TABLE reports ADD COLUMN IF NOT EXISTS financial_table JSONB;
